<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/css/stylesheet.css" rel="stylesheet">
    <title>Metafysische filosofie</title>


</head>
<html>

<body>


    <nav>
        <ul>
            <a href=#russel>
                <li id="Russel">Russel</li>
            </a>
            <a href=#bergson>
                <li id="Bergson">Bergson</li>
            </a>
            <a href=#harman>
                <li id="Harman">Harman</li>
            </a>
            <li class="brand">Filosofische metafysica</li>
        </ul>
    </nav>

    <div class="page">
        <div id="content" />

    
    </section>
    </article>
</div>
    </div>

</body>

</html>
<script>
    elementsArray = document.querySelectorAll('li');
    elementsArray.forEach(function (elem) {
        elem.addEventListener("click", function (event) {

            var menuItem = event.target.innerText
            var url = "https://nine-umbrella.glitch.me/" + menuItem

            console.log(menuItem)
            fetch(url).then(function (response) {
                // transform response object to JSON
                return response.json()
            }).then(function (response) {

                // get the response from express db and output them to the DOM
                console.log(response)
                document.getElementById("content").innerHTML = response[0].Content
                //document.getElementById("heading").innerHTML = response[0].Heading
                return "OK"

            })
        });
    });

</script>